.naive3dCanvas {
    text-align: center;
    align-content: center;
    border:1px solid #000000;
}

.unselectable {
    -moz-user-select:none;
    -webkit-user-select:none;
    font-family: Consolas,monospace;
    font-size: 1%;
    -webkit-align-content: center;
    align-content: center;
    display: inline-block;
}
html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}